{% extends 'base.html' %}
{% block content %}
<div class="pwd-confirm">
    <img src="{{user.profile.image.url}}" alt="{{user.username}} profile image">
    <br>
    <form class="sine" method="post">
        {% csrf_token %}
        {{ form }}
        <button class='btn btn-primary' type="submit">Continue</button>
    </form>
</div>
<script>
  const list = document.querySelector('.errorlist');
  list.addEventListener("onload",function() {
    list.classList.add('btn');
    list.classList.add('btn-danger');
  });
  </script>
<style>
  .errorlist li{
    display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  position: absolute;
  transform: translate(-170px, -27px);
  border: 1px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  list-style: none;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  }
img{
  height:100px;
  width:100px;
  transform: translateY(20px);
  border-radius:50%;
}
footer{
  transform:translateY(450px);
}
.pwd-confirm{
    border-top:5px solid #47ec47;
    line-height: 3.5;
	width: 300px;
	height: 330px;
	background: #FFF;
	border-radius: 6px;
	position: absolute;
	text-align:center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0px 1px 10px 1px #00000036;
	overflow: hidden;
    display: inline-block;
    transition: all .4s ease;
}
.sine{
  text-align:center;
  transform: translateY(10px);
}
.sine input :focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.sine input {
    position: relative;
    left: 75px;
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


</style>
{% endblock %}