{% extends 'base.html' %}
<title onload='document.getElementsByTagName("title").innerHTML = "DevDiv";'>{% block title %}Home{% endblock title %}</title>
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.5.5/slick.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.5.5/slick-theme.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.selectric/1.9.4/selectric.css">
<div class="wrapper">
  <div class="section-content relative">
    <div class="row align-center">
      <div class="col medium-12" id="slick-container-shoutouts">
      {% for posts in posts %}
      {% if posts.category == "tech" %}
      <div class="slider-element">
        <a href="{%url 'post-detail' posts.id%}">
        <div class="img-wrap" style="background-image: url({{posts.image_url}})">
        </a>
        </div>
            <a href="{%url 'post-detail' posts.id%}">
          <div class="text-wrap">
            <h2>
                {{ posts.title }}
              </h2>
              <h3>
                {{posts.date_posted|date:"F"}} {{posts.date_posted|date:"d"}}, {{posts.date_posted|date:"Y"}}
              </h3>
              <h3>
                {{ posts.category }} | {{posts.hashtag}}
              </h3>
            </div>
          </a>
          </div>
        {% endif %}
        {% if posts.category == "sports" %}
        <div class="slider-element">
          <a href="{%url 'post-detail' posts.id%}">
          <div class="img-wrap" style="background-image: url({{posts.image_url}})">
          </a>
          </div>
              <a href="{%url 'post-detail' posts.id%}">
            <div class="text-wrap">
              <h2>
                  {{ posts.title }}
                </h2>
                <h3>
                  {{posts.date_posted|date:"F"}} {{posts.date_posted|date:"d"}}, {{posts.date_posted|date:"Y"}}
                </h3>
                <h3>
                  {{ posts.category }} | {{posts.hashtag}}
                </h3>
              </div>
            </a>
            </div>
          {% endif %}
          <!-- News -->
      {% if posts.category == "news" %}
      <div class="slider-element">
        <a href="{%url 'post-detail' posts.id%}">
        <div class="img-wrap" style="background-image: url({{posts.image_url}})">
        </a>
        </div>
            <a href="{%url 'post-detail' posts.id%}">
          <div class="text-wrap">
            <h2>
                {{ posts.title }}
              </h2>
              <h3>
                {{posts.date_posted|date:"F"}} {{posts.date_posted|date:"d"}}, {{posts.date_posted|date:"Y"}}
              </h3>
              <h3>
                {{ posts.category }} | {{posts.hashtag}}
              </h3>
            </div>
          </a>
          </div>
        {% endif %}

        <!-- Entertainment -->
        {% if posts.category == "entertainment" %}
        <div class="slider-element">
          <a href="{%url 'post-detail' posts.id%}">
          <div class="img-wrap" style="background-image: url({{posts.image_url}})">
          </a>
          </div>
              <a href="{%url 'post-detail' posts.id%}">
            <div class="text-wrap">
              <h2>
                  {{ posts.title }}
                </h2>
                <h3>
                  {{posts.date_posted|date:"F"}} {{posts.date_posted|date:"d"}}, {{posts.date_posted|date:"Y"}}
                </h3>
                <h3>
                  {{ posts.category }} | {{posts.hashtag}}
                </h3>
              </div>
            </a>
            </div>
        {% endif %}
        {% endfor %}
      </div>
      </div>
  </div>
  <!-- END D POST SLIDER -->
  
  <div class="divdev_posts-slider">
    <div class="divdev_posts-slider__wrp swiper-wrapper">
      {%for post in posts %}
      <div class="divdev_posts-slider__item swiper-slide">
        <div class="user-posts">
          <a href="{% url 'user-posts' post.author.username %}">
            <img src="{{ post.author.profile.image_url }}" class="mb-4 rounded-circle" alt="post.author.username image">
          </a>
        </div>
        <a href="{%url 'post-detail' post.id%}" class="divdev_posts__item">

          <div class="divdev_posts-date">
            <span class="divdev_posts-date__title">{{post.date_posted|date:"d"}}</span>
            <span class="divdev_posts-date__txt">{{post.date_posted|date:"F"}}</span>
          </div>
          <div class="divdev_posts__title"> {{post.title | truncatechars:80 | safe}}
          </div>
          <div class="divdev_posts__txt">
            {% if post.description %}
            {{post.description | truncatechars:100 | safe}}
            {% else %}
            {{post.content | truncatechars:100 | safe}}
            {% endif %}
            <div class="author-name-content"> <strong style="font-style: italic;"> - by {{post.author}} </strong>
            </div>
            <div>
              <span>{{post.likes.count}} likes | {{post.dislikes.count}} dislikes</span>
            </div>
          </div>
          <div class="divdev_posts__img">
            {% if post.image_url == None or '' %}
            <img src="/static/default.png" class="post-img" alt="{{object.title}}">
            {% else %}
            <img src="{{ post.image_url }}" class="post-img" alt="{{object.title}}">
            {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
      {% if is_paginated %}
      <div class="pag">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-outline-info mb-4">1</a>
        <a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-info mb-4">Previous</a>
        {% endif %}
      </div>

    </div>
    <div class="pg-btn">
      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4">Next</a>
      <a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-info mb-4">Last</a>
      {% endif %}

      {% endif %}
    </div>
  </div>
  <style>
    .divdev_posts__item {
      color: #333 !important;
    }

    .divdev_posts-slider__item.swiper-slide {
      opacity: 1 !important;
    }

    .divdev_posts-slider__item.swiper-slide {
      pointer-events: all !important;
    }

    .rounded-circle {
      cursor: pointer;
      width: 100px;
      height: 100px;
      border: 3px solid #84eaeabd !important;
      padding: 15px;
      transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .user-posts {
      -webkit-transform: translate(59px, 210px);
      transform: translate(60px, 210px);
      text-align: center;
      padding: 10px;
    }

    @media (max-width: 500px) {
      .user-posts {
        -webkit-transform: translate(70px, 150px);
        transform: translate(70px, 150px);
      }
    }

    .rounded-circle:hover {
      border: 1px !important;
    }
  </style>
  {% block js %}
  <script>
    var title = document.getElementsByTagName("title").innerHTML = "DevDiv";
  </script>
  {% endblock %}
  {% endblock content%}