{% extends 'base.html' %}
<title onload='document.getElementsByTagName(`title`)[0].innerHTML = `DevDiv`;'>{% block title %}Home{% endblock title %}</title>
{% block content %}
<div class="wrapper">
  <div class="section-content relative">
    <div class="row align-center">
      <div class="col medium-12" id="slick-container-shoutouts">
      {% for posts in posts %}


    <!-- World -->
      {% if posts.category == "World" %}
        <div class="slider-element">
          <a href="{%url 'post-detail' posts.id%}">
          <div class="img-wrap" style="background-image: url({{posts.image_url}})">
          </a>
          </div>
              <a href="{%url 'post-detail' posts.id%}">
            <div class="text-wrap">
              <h2>
                  {{ posts.title }}
                </h2>
                <h3>
                  {{posts.date_posted|date:"F"}} {{posts.date_posted|date:"d"}}, {{posts.date_posted|date:"Y"}}
                </h3>
                <h3>
                  {{ posts.category }} {% if posts.hashtag %} | {{posts.hashtag}} {% endif %}
                </h3>
              </div>
            </a>
            </div>
            {% endif %}

    <!-- Gossip -->
      {% if posts.category == "Gossip" %}
      <div class="slider-element">
        <a href="{%url 'post-detail' posts.id%}">
        <div class="img-wrap" style="background-image: url({{posts.image_url}})">
        </a>
        </div>
            <a href="{%url 'post-detail' posts.id%}">
          <div class="text-wrap">
            <h2>
                {{ posts.title }}
              </h2>
              <h3>
                {{posts.date_posted|date:"F"}} {{posts.date_posted|date:"d"}}, {{posts.date_posted|date:"Y"}}
              </h3>
              <h3>
                {{ posts.category }} {% if posts.hashtag %} | {{posts.hashtag}} {% endif %}
              </h3>
            </div>
          </a>
          </div>
          {% endif %}

    <!-- Technology -->
      {% if posts.category == "Technology" %}
      <div class="slider-element">
        <a href="{%url 'post-detail' posts.id%}">
        <div class="img-wrap" style="background-image: url({{posts.image_url}})">
        </a>
        </div>
            <a href="{%url 'post-detail' posts.id%}">
          <div class="text-wrap">
            <h2>
                {{ posts.title }}
              </h2>
              <h3>
                {{posts.date_posted|date:"F"}} {{posts.date_posted|date:"d"}}, {{posts.date_posted|date:"Y"}}
              </h3>
              <h3>
                {{ posts.category }} {% if posts.hashtag %} | {{posts.hashtag}} {% endif %}
              </h3>
            </div>
          </a>
          </div>
        {% endif %}

    <!-- Science -->
    {% if posts.category == "Science" %}
    <div class="slider-element">
      <a href="{%url 'post-detail' posts.id%}">
      <div class="img-wrap" style="background-image: url({{posts.image_url}})">
      </a>
      </div>
          <a href="{%url 'post-detail' posts.id%}">
        <div class="text-wrap">
          <h2>
              {{ posts.title }}
            </h2>
            <h3>
              {{posts.date_posted|date:"F"}} {{posts.date_posted|date:"d"}}, {{posts.date_posted|date:"Y"}}
            </h3>
            <h3>
              {{ posts.category }} {% if posts.hashtag %} | {{posts.hashtag}} {% endif %}
            </h3>
          </div>
        </a>
        </div>
        {% endif %}


    <!-- Politics -->
    {% if posts.category == "Politics" %}
    <div class="slider-element">
      <a href="{%url 'post-detail' posts.id%}">
      <div class="img-wrap" style="background-image: url({{posts.image_url}})">
      </a>
      </div>
          <a href="{%url 'post-detail' posts.id%}">
        <div class="text-wrap">
          <h2>
              {{ posts.title }}
            </h2>
            <h3>
              {{posts.date_posted|date:"F"}} {{posts.date_posted|date:"d"}}, {{posts.date_posted|date:"Y"}}
            </h3>
            <h3>
              {{ posts.category }} {% if posts.hashtag %} | {{posts.hashtag}} {% endif %}
            </h3>
          </div>
        </a>
        </div>
        {% endif %}


    <!-- Sports -->
    {% if posts.category == "Sports" %}
    <div class="slider-element">
      <a href="{%url 'post-detail' posts.id%}">
      <div class="img-wrap" style="background-image: url({{posts.image_url}})">
      </a>
      </div>
          <a href="{%url 'post-detail' posts.id%}">
        <div class="text-wrap">
          <h2>
              {{ posts.title }}
            </h2>
            <h3>
              {{posts.date_posted|date:"F"}} {{posts.date_posted|date:"d"}}, {{posts.date_posted|date:"Y"}}
            </h3>
            <h3>
              {{ posts.category }} {% if posts.hashtag %} | {{posts.hashtag}} {% endif %}
            </h3>
          </div>
        </a>
      </div>
      {% endif %}

    <!-- How-To -->
    {% if posts.category == "How-to" %}
    <div class="slider-element">
      <a href="{%url 'post-detail' posts.id%}">
      <div class="img-wrap" style="background-image: url({{posts.image_url}})">
      </a>
      </div>
          <a href="{%url 'post-detail' posts.id%}">
        <div class="text-wrap">
          <h2>
              {{ posts.title }}
            </h2>
            <h3>
              {{posts.date_posted|date:"F"}} {{posts.date_posted|date:"d"}}, {{posts.date_posted|date:"Y"}}
            </h3>
            <h3>
              {{ posts.category }} {% if posts.hashtag %} | {{posts.hashtag}} {% endif %}
            </h3>
          </div>
        </a>
      </div>
        {% endif %}


        {% endfor %}
      </div>
      </div>
  </div>
  <!-- END D POST SLIDER -->
  
  <div class="divdev_posts-slider">
    <div class="divdev_posts-slider__wrp swiper-wrapper">
      {% for post in posts %}
      <div class="divdev_posts-slider__item swiper-slide">
        <a href="{%url 'post-detail' post.id%}" class="divdev_posts__item">

          <div class="divdev_posts-date">
            <div class="">
            <span class="divdev_posts-date__title">{{post.date_posted|date:"d"}}</span>
            <span class="divdev_posts-date__txt">{{post.date_posted|date:"F"}}</span>
          </div>
            <figure onclick="window.location.href = `{% url 'user-posts' post.author.username %}`" class="user-post-profile figure-back"
            style="background-image: url({% if upload_image %}{{ post.author.profile.upload_image.url }}{% else %}{{ post.author.profile.image_url }}{% endif %});"
            >
                <img 
                src="{% if upload_image %}{{ post.author.profile.upload_image.url }}{% else %}{{ post.author.profile.image_url }}{% endif %}" 
                class="mb-4" alt="{{post.author.username}}'s image">
            </figure>
          </div>
          <div class="divdev_posts__title"> {{post.title | truncatechars:80 | safe}}
          </div>
          <div class="divdev_posts__txt">
            {% if post.description %}
            {{post.description | truncatechars:100 | safe}}
            {% else %}
            {{post.content | truncatechars:100 | safe}}
            {% endif %}
            <div class="author-name-content"> <strong style="font-style: italic;"> - by {{post.author}} </strong>
            </div>
            <div>
              <span>{{post.likes.count}} likes | {{post.dislikes.count}} dislikes</span>
            </div>
          </div>
          <div class="divdev_posts__img">
            {% if post.image_url == None or '' %}
            <img src="/static/default.png" class="post-img" alt="{{object.title}}">
            {% else %}
            <img src="{{ post.image_url }}" class="post-img" alt="{{object.title}}">
            {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
      {% if is_paginated %}
      <div class="pag">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-outline-info mb-4">1</a>
        <a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-info mb-4">Previous</a>
        {% endif %}
      </div>

    </div>
    <div class="pg-btn">
      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4">Next</a>
      <a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-info mb-4">Last</a>
      {% endif %}

      {% endif %}
    </div>
  </div>

  <style>
    .divdev_posts__item {
      color: #333 !important;
    }

    .divdev_posts-slider__item.swiper-slide {
      opacity: 1 !important;
    }

    .divdev_posts-slider__item.swiper-slide {
      pointer-events: all !important;
    }
  </style>
  {% block js %}
  <script>
    var title = document.getElementsByTagName("title").innerHTML = "DevDiv";
  </script>
  {% endblock %}
  {% endblock content%}