{% extends 'base.html' %} {% load static %}
<title>{% block title %}Home{% endblock title %}</title>
{% block content %} {% include "components/widgets.html" with usd='yes' ngn='yes' headline='yes' %}
<div class="wrapper m-0">
  <div class="section-content ml-5">
    <div class="row align-center">
      <div class="col medium-12" id="slick-container-shoutouts">
        {% include 'components/news_slider.html' with posts=posts %}
      </div>
    </div>
  </div>
  <div
    class="ad load-none"
    style="
      margin: auto;
      display: flex;
      flex-direction: column;
      max-width: 600px;
    "
  >
    {% include 'users/ads/poster-720x90.html' %}
    <hr />
    <p class="text-center lead">Advertisement</p>
  </div>
  <!-- END D POST SLIDER -->
  {% include "components/posts_list.html" with posts=posts is_paginated=is_paginated page_obj=page_obj %} 
  {% block js %}
  <script>
    document.onload = () => {
      document.getElementsByTagName("title").innerText = "DevDiv";
    };
  </script>
  <script>
    localStorage.setItem("previousPage", window.location.href);
  </script>
  {% endblock js %} 
</div>
  {% endblock content %}
