certifi
chardet
dj-database-url
Django
django-ckeditor
django-crispy-forms
django-js-asset
django-heroku
djangorestframework
gunicorn
idna
pytz
requests
sqlparse
stripe
urllib3
whitenoise
s3transfer 
boto 
boto3
botocore 
django-cleanup 
django-storages 
Pillow 
python-decouple