{% extends 'base.html' %}
<title>{% block title %}New Password{% endblock title %}</title>
{% block content %}
   <div id="box" onload="is_active()">
            <div id="main" style="left:70%;height: 500px;"></div>
                <form method="POST" action="" id="loginform">
                    {% csrf_token %}
{%for message in messages%}
<div class="success-box">{{message}}</div>
{%endfor%}
                <h1>Password reset</h1>
                    {{form}}
                <button type="submit">Submit</button>
            </form>
</div>
<script>
    var f = document.getElementsByTagName('input')
    f[1].placeholder = 'New Password';
    f[1].placeholder = 'Confirm New Password';
</script>
<style>
    @media screen and(max-width: 1024px){
 #main{
     animation: none;
 }
}
#sidebar{
    display:none !important
}
#loginform, #main {
    left: 50% !important;
}
.container{
    height:50vh;
}
.devdiv-content{
    position: initial !important;
}
</style>
{% endblock content%}