article {
  padding: 0.5in 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: grid;
  margin: auto;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(hsl(55deg, 100%, 96%), white 6.55rem);
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
  grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
}

article * {
  grid-column: start/end;
  transition: all 0.2s ease;
}

@media (max-width: 8.5in) {
  article {
    width: 100%;
    padding-left: 24px;
    grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
    padding: 0.5in 15px;
  }
}
.size-1 {
  grid-column: 4/5;
}

.size-2 {
  grid-column: 3/6;
}

.size-3 {
  grid-column: 2/7;
}

.size-4 {
  grid-column: 1/8;
}

.size-center {
  display: flex;
  justify-content: center;
}
.size-center-col {
  flex-direction: column;
}
.size-center-row {
  flex-direction: row;
}

.size-1 img,
.size-2 img,
.size-3 img,
.size-4 img,
p img {
  width: 100%;
}

h2,
p {
  margin-bottom: 2.4rem;
}

h1 {
  font: 700 2rem/1.2 "Roboto";
  color: hsl(0deg, 0%, 33%);
}

h2 {
  font: 400 1.5rem/1.2 "Roboto";
  color: hsl(0deg, 0%, 33%);
}

time {
  font: 700 1rem/1.2 "Roboto";
  color: hsl(250deg, 100%, 83%);
}

h3 {
  font: 700 1rem/1.2 "Roboto";
  color: hsl(250deg, 100%, 33%);
}

p {
  font: 400 1rem/1.2 "Roboto";
  color: hsl(0deg, 0%, 33%);
}

@media (min-width: 1024px) {
  figure {
    transition: all 500ms ease;
  }
  figure:hover {
    box-shadow: 1px 0px 2px 14px rgba(255, 255, 255, 0.7882352941);
    border-radius: 24px;
    padding: 2px;
  }
  figure:hover > img {
    border-radius: 24px;
  }
  figure:hover ~ figcaption {
    opacity: 1;
    transform: translateY(-46px);
  }
  figure:hover ~ figcaption p {
    border: 1px solid;
    border-radius: 24px;
  }
  figure ~ figcaption {
    opacity: 0;
    transition: all 450ms ease;
  }
  figure > img {
    transition: all 450ms ease;
  }
}
figcaption p {
  font: 400 1rem/1.2 "Roboto";
  color: #000;
  border-radius: 0px 0px 5px 5px;
  background: rgba(217, 172, 39, 0.6117647059);
  padding: 5px;
  margin: auto;
}

article a {
  box-shadow: inset 0 -0.25em hsl(55deg, 100%, 75%);
}

@media (max-width: 8.5in) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: 5in) {
  :root {
    font-size: 16px;
  }
}
figcaption {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.share {
  display: flex;
  justify-content: center;
}

.share img {
  padding: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
}

.userinfo {
  display: flex;
}

.userinfo a {
  box-shadow: none;
}

.rounded-img {
  position: absolute;
  bottom: -606px;
  left: 5%;
  border-radius: 50%;
}

.rounded-img img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.share-post {
  position: relative;
  display: flex;
}

.share-post button {
  background: rgba(47, 233, 47, 0.662745098);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 1px solid rgba(47, 233, 47, 0.662745098);
  border-radius: 24px;
  padding: 5px;
  outline: none;
}

.share-post button:active {
  background: rgba(47, 233, 47, 0.4156862745);
  border: 2px solid;
}

.post-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(17, 17, 17, 0.685);
}

/** News Card **/
.recent-post {
  width: 816px;
  background: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 15px 15px;
  border-top: 1px solid rgba(23, 162, 184, 0.168627451);
  border-top-style: dashed;
  border-width: 10px;
}

.recent-post h3 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-size: x-large;
  font-weight: 900;
  line-height: 1.5;
  color: rgba(28, 0, 168, 0.7294117647);
  text-transform: uppercase;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.news-card {
  border: 0px solid aqua;
  margin: 0.5rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
@media (min-width: 900px) {
  .news-card {
    height: 20rem;
  }
}
.news-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 0;
}
.news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*     background: rgba(255,0,0,.5); */
}
.news-card__image {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}
.news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white !important;
  /*     background-color: rgba(0, 0, 0, 0.4); */
  transition: background-color 1.5s ease;
}
.news-card__title {
  transition: color 1s ease;
  margin-bottom: 0.5rem;
  color: white !important;
}
.news-card__post-date {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: #ccc !important;
}
.news-card__post-date i,
.news-card__post-date svg {
  margin-right: 0.5rem !important;
}
.news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
  color: white !important;
}
@media (min-width: 900px) {
  .news-card:hover .news-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
  }
  .news-card:hover .news-card__text-wrapper {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }
  .news-card:hover .news-card__title {
    color: yellow !important;
  }
  .news-card:hover .news-card__image {
    transform: scale(1.2);
    z-index: -1;
  }
}
.news-card__excerpt {
  font-weight: 300;
  color: white !important;
}
.news-card__read-more {
  background: black !important;
  color: #bbb !important;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid #444;
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5;
}
.news-card__read-more i,
.news-card__read-more svg {
  position: relative;
  left: 0.2rem;
  color: #888 !important;
  transition: left 0.5s ease, color 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.news-card__read-more i:hover i,
.news-card__read-more svg:hover i {
  left: 0.5rem;
  color: yellow !important;
}

.by-author {
  color: rgba(100, 94, 94, 0.6196078431) !important;
  font-style: oblique !important;
}

.action-btns button {
  border: 1px solid #333;
  color: #333;
  background: none;
  border-radius: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.sharethis-inline-share-buttons {
  z-index: 1;
}