{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta property="og:title" content="{{object.title}}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% if object.upload_image %}{{ object.upload_image.url }}
{% elif not object.upload_image %}
{{ object.image_url }}
{% else %}{% static 'default.png' %}{% endif %}" />
<meta property="og:description" content="{{object.description}} | {{ total_views }} views" />
<meta property="og:site_name" content="DevDiv" />
{% endblock head %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/__devdiv__video__style__.css'%}">
<title>{% block title %}{{object.title}}{% endblock title %}</title>
<!-- <link rel="stylesheet" href="{% static 'css/debug.css'%}"> -->
<link rel="stylesheet" href="{% static 'css/reset.css'%}">
<link rel="stylesheet" href="{% static 'css/post.css'%}">
{% include "components/widgets.html" with usd='yes' ngn='yes' headline='yes' %}
<article id="blog-post">
  <h1 class="mb-4 size-center"><a href="#" target="_blank"><em>{{object.title}}</em></a></h1>
  <span>
    <em style="text-transform: capitalize;">
      <a href="{% url 'users:category' object.category %}">in {{object.category}}</a>
    </em>
    {% if object.hashtag.all %}
    |
  {%for tag in object.hashtag.all%}
  <em style="border: 1px solid;border-radius: 15px;padding: 10px;
  width: max-content;text-transform: lowercase;font-style: italic;"><a
        href="{% url 'users:hashtag' tag|slugify %}">{{tag}}</a></em>
  {% endfor %}
        {% endif %}
        <h2 class="mb-1">
          <i class="fa-solid fa-eye"></i> {{ total_views }} views</h2>
  </span>
  <div class="action-btns">
    <!-- Like Btn -->
    {% if user.is_authenticated %}
    <button type="submit" name="post_id" id="like_btn" value="{{ object.id }}" class="btn btn-info mb-4"><i class="fa-solid fa-thumbs-up"></i> <span
        class="like_span"></span></button>
    <!-- Dislike -->
    <button type="submit" name="post_id" id="dislike_btn" value="{{ object.id }}"
      class="btn btn-danger mb-4">
      <span class="dislike_span"></span>
      <i class="fa-solid fa-thumbs-down"></i> 
    </button>

    <!-- <a href="{% url 'users:flag' object.id %}" style="box-shadow: none;"><button type="submit"
        class="btn btn-secondary mb-4">Report</button></a> -->
    {% else %}
    <a href="{% url 'users:login' %}?next=/post/{{object.id}}/" style="box-shadow: none;"><button type="submit"
        class="btn btn-info mb-4">Like
        <span class="like_span">{{ total_likes }}</span></button></a>
    {% endif %}
  </div>
  <!-- <h1><a href="#" target="_blank"><em>{{object.title}}</em></a></h1>        -->
  <!-- <h2><i class="fa-solid fa-eye"></i> {{ total_views }}</h2> -->
  <style>
    p {
      line-break: anywhere;
    }
  </style>
  <time datetime='{{object.date_posted|date:"M"}}-{{object.date_posted|date:"d"}}-{{object.date_posted|date:"Y"}}'>{{object.date_posted|date:"M"}},{{object.date_posted|date:"d"}}
    {{object.date_posted|date:"Y"}}</time>
  <p>
    <em>{% if object.description %}{{object.description}}{% endif %}</em>
  </p>
  <div class="sharethis-inline-share-buttons"></div>
  {% if object.upload_image or object.image_url %}
  <!-- Post Image -->
  <figure class="size-4 figure-back"
  style="background-image: url({% if object.upload_image %}{{ object.upload_image.url }}
  {% elif not object.upload_image %}
  {{ object.image_url }}
  {% else %}{% static 'default.png' %}{% endif %});"
  >


    <img src="{% if object.upload_image %}{{ object.upload_image.url }}
    {% elif not object.upload_image %}
    {{ object.image_url }}
    {% else %}{% static 'default.png' %}{% endif %}" alt="{{object.image_caption}}">
  </figure>
  <figcaption>
    <p>{% if object.image_caption %}{{object.image_caption}} {% endif %}</p>
  </figcaption>
  {% endif %}
   {{object.content|safe}}
    <p class="by-author">~ by {% if object.author == user %}You{%else%}<em> <a
          href="{% url 'users:user-posts' object.author.username %}">{{object.author}}{% endif %}</a></em></p>
  
  {% if object.video_url %}
  <!-- Post Video -->
  {% if object.video_url == None or '' %}
  <p>no video here or video not working...</p>
  {% else %}
  <!-- Video Player -->
  <div class="devdiv__video__player">
    <video src="{{object.video_url}}" id="devdiv__video"></video>
    <div class="devdiv__video__controls">
      <div class="devdiv__videoBar">
        <input type="range" id="devdiv__videoBar__seek" value="0" max="100" min="0" name="devdiv__videoBar__seek
                " />
        <div class="devdiv__videoBar__juice"></div>
      </div>
      <div class="devdiv__videoBtns">
        <button id="devdiv__play__pause"></button>
      </div>
      <div class="devdiv__video__timing">
        <span id="current-time"></span> / <span id="duration-time"></span>
      </div>
    </div>
    </video>
  </div>
  {% endif %}
  {% endif %}
  {% if object.author == user %}
  <div class="size-center size-center-row">
  <a class="btn btn-secondary mr-1 btn-rounded" style="height: fit-content;" href="{% url 'users:post-update' object.id %}">Update</a>
  <a class="btn btn-danger btn-rounded" style="height: fit-content;" href="{% url 'users:post-delete' object.id %}">Delete</a>
</div>
  {% endif %}
</article>
<div class="size-center mb-5">
<div class="recent-post">  
  <h3 class="none">Related Posts</h3>
  <div class="content-wrapper none">
    <div class="news-card">
      <a href="#" class="news-card__card-link"></a>
      <img src="https://images.pexels.com/photos/127513/pexels-photo-127513.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">Amazing First Title</h2>
        <div class="news-card__post-date"><i class="fa fa-clock-o"></i>Jan 29, 2018</div>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est pariatur nemo tempore repellat? Ullam sed officia iure architecto deserunt distinctio, pariatur&hellip;</p>
          <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>
  
  
  </div>
</div>
</div>
{% block js %}
{% if user.is_authenticated %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
<script src="{% static 'js/post.js' %}"></script>
<script>
  $("#like_btn").click(function () {
    $.ajax({
      type: "POST",
      url: "{% url 'users:like_post' object.pk %}",
      data: {
        'post_id': "{{ object.id }}",
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: "json",
      success: function (response) {
        var like_span = document.querySelector(".like_span");
        var dislike_span = document.querySelector(".dislike_span");
        like_span.innerHTML = response.message
        like_span.innerHTML = response.likes_count
        dislike_span.innerHTML = response.dislikes_count
      },
      error: function (rs, e) {
        alert(rs.responseText);
      }
    });
  })
  $("#dislike_btn").click(function () {
    $.ajax({
      type: "POST",
      url: "{% url 'users:dislike_post' object.pk %}",
      data: {
        'post_id': "{{ object.id }}",
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: "json",
      success: function (response) {
        var like_span = document.querySelector(".like_span");
        var dislike_span = document.querySelector(".dislike_span");
        like_span.innerHTML = response.message
        like_span.innerHTML = response.likes_count
        dislike_span.innerHTML = response.dislikes_count
      },
      error: function (rs, e) {
        alert(rs.responseText);
      }
    });
  })
</script>
{% endif %}
{% if object.video_url %}
<script src="{% static 'js/__devdiv__video__.js' %}"></script>
{% endif %}
{% endblock js %}
{% endblock content %}