{% extends 'base.html' %}
<title>{% block title %}Delete Post{% endblock title %}</title>
{% block content %}
<div class="contant-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Post</legend>
           <h2>Are sure you want to delete the post "{{ object.title }}"</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">No</a>
        </div>
    </form>
</div>
{% endblock content %}