{% extends 'base.html' %}
<title>{% block title %}{{view.kwargs.username}}{% endblock title %}</title>
{% block content %}
<div class="user-page">
  
    <img src="{{ posts.first.author.profile.image_url }}" width="120px" alt="author's user image">
    <div class="user-info">
      <span>{{ posts.first.author.first_name }} {{ posts.first.author.last_name }}</span>
      <br>
      <span>{{ view.kwargs.username }}</span>
      <br>
      <span>Location: {{ posts.first.author.profile.location }}</span>
      <br>
      <span>{{ page_obj.paginator.count }} posts</span>
    </div>
</div>
<div class="wrapper">
  {% include "components/posts_list.html" with posts=posts is_paginated=is_paginated page_obj=page_obj %}
</div>
<style>
  .wrapper {
    width: 100%;
    height: 100vh;
}
  
  .user-page {
    padding: 5px;
    border: 2px solid;
    text-align: center;
    position: relative;
    top: 40px;
    border-bottom: 10px solid;
}

  .rounded-circle {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border: 3px solid #84eaeabd !important;
    padding: 15px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .rounded-circle:hover {
    border: 1px !important;
  }
</style>
{% endblock content%}