<aside>
    <nav id="sidebar">
        <div class="p-4 pt-5">
          <div class="text-center">
            <div class="search">
              <form action="{% url 'search_results' %}" method="get">
                  <input name="q" type="text" placeholder="Search...">
                </form>
          </div>
          </div>
            <h5>Categories</h5>
    <ul class="list-unstyled components mb-5">
      <li>
        <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">News</a>
        <ul class="collapse list-unstyled" id="pageSubmenu1">
        <li><a href="#"><span class=" mr-2"></span> All</a></li>
        <li><a href="#"><span class=" mr-2"></span> Sports</a></li>
        <li><a href="#"><span class=" mr-2"></span> Today</a></li>
        <li><a href="#"><span class=" mr-2"></span> World</a></li>
        <li><a href="#"><span class=" mr-2"></span> Polities</a></li>
        </ul>
      </li>
      <li>
        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tech</a>
        <ul class="collapse list-unstyled" id="pageSubmenu2">
        <li><a href="#"><span class=" mr-2"></span> All</a></li>
        <li><a href="#"><span class=" mr-2"></span> Programming</a></li>
        <li><a href="#"><span class=" mr-2"></span> Gadget</a></li>
        </ul>
      </li>
      <li>
        <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Entertainment</a>
        <ul class="collapse list-unstyled" id="pageSubmenu3">
        <li><a href="#"><span class=" mr-2"></span> All</a></li>
        <li><a href="#"><span class=" mr-2"></span> Music</a></li>
        <li><a href="#"><span class=" mr-2"></span> Movies</a></li>
        </ul>
      </li>
      <li>
        <a href="#" data-toggle="collapse" aria-expanded="false" title="Divine Ikhuoria" class="">About Me</a>
      </li>
    </ul>
            <div class="mb-5">
                <h5>Tag Cloud</h5>
    <div class="tagcloud">
      <a href="#" class="tag-cloud-link">tech</a>
      <a href="#" class="tag-cloud-link">tends</a>
      <a href="#" class="tag-cloud-link">news</a>
    </div>
            </div>
            <div class="mb-5">
        <h5>Newsletter</h5>
                <form action="#" class="subscribe-form">
        <div class="form-group d-flex">
            <div class="icon"><span class="icon-paper-plane"></span></div>
          <input type="text" class="form-control" placeholder="Enter Email Address">
        </div>
      </form>
            </div>
  </div>
</nav>
</aside>