{% extends 'base.html' %}
{% load static %}
<title>{% block title %}{{cats}}{% endblock title %}</title>
{% block content %}
<link rel="stylesheet" href="{% static 'css/reset.css'%}">
<link rel="stylesheet" href="{% static 'css/post.css'%}">
{% if posts %}
<center><h3 style="text-transform: capitalize;"><em>{{cats}}</em></h3></center>
<hr />
<div class="wrapper">
  {% include "components/posts_list.html" with posts=posts is_paginated=is_paginated page_obj=page_obj %}

  {% else %}
<br /><br /><br /><br /><br /><br />
  <center><h3 style="color: red;">{{cats}} does not exists</h3></center>
  <script>
    window.location.href = "/";
  </script>
  {% endif %}
  <script>
    localStorage.setItem("previousPage", window.location.href);
  </script>
  {% endblock content%}