{% load static %}
<div class="div_404">
    <span>4</span>
    <span>0</span>
    <span>4</span>
    <span>Page Not Found</span>
    <br />
    <span><a href="/"><button>Home</button></a></span>
</div>
<a href="/">
    <<< back</a> 
<style>
    .div_404{
        position: absolute;
        margin: 20px;
        left: 50%;
        font-size: -webkit-xxx-large;
        width: max-content;
        top: 50%;
        transform: translate(-50%, -50%);
        text-transform: capitalize;
        color: #333;
    }
</style>