{% extends 'base.html' %} {% load static %}
<title>{% block title %}Politique{% endblock title %}</title>
{% block content %}
<div id="policy">
<h1>Politique de confidentialité</h1>
<p>Date d'entrée en vigueur: 2022-03-01</p>
<p>Mise à jour le: 2022-03-01</p>
<p>
  Cette Politique de confidentialité explicite les politiques de DevDiv 
relatives à la collecte et l'utilisation des informations que nous recueillons lorsque vous accédez 
à https://devdiv.herokuapp.com (le «Service»). Cette Politique de confidentialité décrit vos droits en matière de confidentialité et la façon 
dont vous êtes protégé par les lois sur la confidentialité. </p>
<p>
  En utilisant notre Service, vous consentez à la collecte et à l'utilisation de vos 
informations conformément à la présente Politique de confidentialité. Veuillez ne pas accéder à notre Service ou 
l'utiliser si vous ne consentez pas à la collecte et à l'utilisation de vos informations comme indiqué dans la présente 
Politique de confidentialité.</p>
<p>DevDiv est autorisé à modifier cette Politique de confidentialité à tout 
moment, y compris sans avis préalable. </p>
<p>
  DevDiv publiera la Politique de confidentialité révisée sur le site Web https://devdiv.herokuapp.com.</p>

    <h3>Collecte et utilisation de vos informations personnelles</h3>
    <h4>Informations que nous collectons</h4>
    <p>
      Lorsque vous utilisez notre Service, vous serez invité à nous fournir des informations 
personnelles utilisées pour vous contacter ou vous identifier. https://devdiv.herokuapp.com collecte les informations suivantes:    </p>

    <ul>
                    <li>Données d'utilisation</li>
                    <li>Nom</li>
                    <li>E-mail</li>
                    <li>Numéro de téléphone portable</li>
                    <li>Profil de média social</li>
            </ul>

            <p>Les données d'utilisation comprennent les éléments suivants:</p>
        <ul>
            <li>L'adresse de protocole Internet (IP) des ordinateurs accédant au site</li>
            <li>Demandes de pages Web</li>
            <li>Pages Web de renvoi</li>
            <li>Navigateur utilisé pour accéder au site</li>
            <li>Date et heure d'accès</li>
        </ul>
    
    <h4>Comment nous collectons les informations</h4>
    <p>
      https://devdiv.herokuapp.com collecte et reçoit des informations de votre part de la manière suivante:    </p>
    <ul>
                <li>Lorsque vous remplissez un formulaire d'inscription ou soumettez autrement vos informations personnelles.</li>
                <li>De sources externes et publiques.</li>
          </ul>
    <p>
      Vos informations seront stockées jusqu'à 7 jour(s) après 
que vous ayez résilié votre compte. Vos informations peuvent être conservées pendant des périodes plus longues pour 
l'établissement de rapports ou la tenue d'archives, conformément aux lois applicables. Les informations qui ne permettent 
pas de vous identifier personnellement peuvent être conservées indéfiniment.    </p>

            <h4>Comment nous utilisons vos informations</h4>
        <p>
          https://devdiv.herokuapp.com peut utiliser vos informations aux fins suivantes:        </p>
        <ul>
                        <li><b>Fournir et maintenir notre Service,</b> ainsi que surveiller l'utilisation de notre Service.</li>
                        <li><b>Autres fins.</b> DevDiv utilisera vos informations pour l'analyse des données afin d'identifier les tendances d'utilisation ou de déterminer l'efficacité de nos campagnes de marketing lorsque cela est raisonnable. Nous utiliserons vos informations pour évaluer et améliorer notre Service, nos produits, nos services et nos efforts de marketing.</li>
                        <li><b>Vous tenir informé</b> avec des nouvelles, des informations générales, des offres spéciales, de nouveaux services et des événements.</li>
                        <li><b>Publicité ciblée.</b> Vos Données personnelles seront utilisées pour améliorer les efforts publicitaires pertinents à vos intérêts spécifiques.</li>
                        <li><b>Collecte de témoignages et de commentaires des clients.</b> Si vous partagez un témoignage ou un avis sur votre expérience d'utilisation de notre Service, il sera partagé ou utilisé d'une autre manière sur le site Web.</li>
                        <li><b>Résolution des litiges et protection du site.</b> Vos informations seront utilisées en cas de litige pour résoudre les problèmes liés à notre Service.</li>
                        <li><b>Commentaires d'utilisateur à utilisateur.</b> Vos informations, telles que votre pseudonyme votre image personnelle ou votre adresse électronique, seront visibles par le public lors de la publication de commentaires d'utilisateur à utilisateur.</li>
                        <li><b>Vous contacter.</b> DevDiv vous contactera par e-mail, téléphone, SMS ou toute autre forme de communication électronique relative aux fonctions, produits, services ou mises à jour de sécurité lorsque cela est nécessaire ou raisonnable.</li>
                        <li><b>Initiatives de marketing et de promotion.</b> DevDiv utilisera des informations non spécifiques recueillies auprès de vous afin d'améliorer ses efforts de marketing.</li>
                  </ul>
    
            <h4>Comment nous partageons vos informations</h4>
        <p>
          DevDiv partagera vos informations, le cas échéant, dans les situations suivantes:        </p>
        <ul>
                      <li><b>Avec votre consentement.</b> DevDiv partagera vos informations à toute fin avec votre consentement explicite.</li>
                  </ul>
    
    <h4>Partage avec des tiers</h4>
            <p>
          Toute tierce partie avec laquelle nous partageons vos informations doit divulguer la finalité pour laquelle elle a l'intention d'utiliser vos informations. Elle doit conserver vos informations uniquement pour la durée divulguée lors de la demande ou de la réception desdites informations. Le prestataire de services tiers ne doit pas collecter, vendre ou utiliser vos informations personnelles, sauf si cela est nécessaire pour atteindre la finalité spécifiée.        </p>
        <p>Vos informations peuvent être partagées avec un tiers pour les raisons suivantes:</p>
        <ul>
                      <li><b>Informations analytiques.</b> Vos informations peuvent être partagées avec des outils d'analyse en ligne afin de suivre et d'analyser le trafic du site Web.</li>
                      <li><b>Améliorer les campagnes publicitaires ciblées.</b> DevDiv s'associe à des fournisseurs de services tiers pour améliorer les campagnes de publicité ciblées.</li>
                  </ul>
        <p>
          Si vous choisissez de fournir de telles informations lors de l'inscription 
ou autrement, vous donnez à DevDiv la permission d'utiliser, de partager et de stocker ces informations d'une manière 
conforme à la présente Politique de confidentialité.        </p>
    
    <p>Vos informations peuvent être divulguées pour d'autres raisons, notamment:</p>
    <ul>
        <li>Se conformer aux lois, règlements ou ordonnances judiciaires applicables.</li>
        <li>Répondre aux réclamations selon lesquelles votre utilisation de notre Service viole les droits de tiers.</li>
        <li>Faire respecter les accords que vous avez conclus avec nous, y compris la présente Politique de confidentialité.</li>
    </ul>

    <h4>Cookies</h4>
    <p>
        Les cookies sont de petits fichiers texte qui 
sont placés sur votre ordinateur par les sites Web que vous visitez. Les sites Web utilisent des cookies pour aider les 
utilisateurs à naviguer efficacement et à exécuter certaines fonctions. Les cookies qui sont nécessaires au bon 
fonctionnement du site Web peuvent être installés sans votre autorisation. Tous les autres cookies doivent être approuvés 
avant de pouvoir être installés dans le navigateur.    </p>
    <ul>
              <li><b>Cookies strictement nécessaires.</b> Les cookies strictement nécessaires habilitent des fonctionnalités de base du site Web telles que la connexion des utilisateurs et la gestion des comptes. Le site Web ne peut pas être utilisé correctement sans les cookies strictement nécessaires.</li>
              <li><b>Cookies de performance.</b> Les cookies de performance sont utilisés pour voir comment les visiteurs utilisent le site Web, par exemple les cookies d'analyse. Ces cookies ne peuvent pas être utilisés pour identifier directement un visiteur spécifique.</li>
              <li><b>Cookies de fonctionnalité.</b> Les cookies de fonctionnalité sont utilisés pour mémoriser les informations des visiteurs sur le site Web, comme. la langue, le fuseau horaire, le contenu amélioré.</li>
          </ul>

            <div class="cookie-report-container">
            <p data-cookiereport="true">
                Vous pouvez modifier votre consentement à l'utilisation des cookies ci-dessous.            </p>
            <script
                type="text/javascript"
                charset="UTF-8"
                data-cookiescriptreport="report"
                data-cs-lang="fr"
                src="//report.cookie-script.com/r/1b33081ce42dab2cb7b65fd582bdc4b2.js"
            >
            </script>
        </div>
    
    <h4>Sécurité</h4>
    <p>
      La sécurité de vos informations nous tient à cœur. https://devdiv.herokuapp.com 
utilise une série de mesures de sécurité pour empêcher l'utilisation abusive, la perte ou l'altération des informations 
que vous nous avez fournies. Toutefois, comme nous ne pouvons pas garantir la sécurité des informations que vous nous 
fournissez, vous devez accéder à notre service à vos propres risques.    </p>
    <p>
      DevDiv n'est pas responsable de la performance des sites 
Web exploités par des tiers ou de vos interactions avec eux. Lorsque vous quittez ce site Web, nous vous recommandons de 
passer en revue les pratiques de confidentialité des autres sites Web avec lesquels vous interagissez et de déterminer 
si ces pratiques sont adéquates.    </p>

    <h4>Nous contacter</h4>
    <p>Pour toute question, veuillez nous contacter par les biais suivants:</p>
    <p>Nom: DevDiv</p>
    <p>Adresse: Skitte, Nigeria, Edo State, Benin City.</p>
    <p>E-mail: noreply.devdiv@gmail.com</p>
    <p>Site Web: https://devdiv.herokuapp.com</p>
            <p>Téléphone: +2348137274139</p>
    

            <p>
          Pour toute question ou préoccupation relative 
au traitement de vos informations, vous pouvez contacter notre Délégué à la protection de la vie privée, Divine Ikhuoria, divuzki@gmail.com, +2348159888876.        </p>
</div>
<style>
  #policy {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 2px solid;
    border-style: dashed;
    border-radius: 5px;
  }
</style>
{% endblock content %}