{% load static %}
{% for posts in posts %}
<div class="slider-element" style="display: none">
  <a href="{%url 'users:post-detail' posts.id%}">
  <div class="img-wrap" style="background-image: url({% if posts.upload_image %}{{ posts.upload_image.url }}
{% elif not posts.upload_image %}
{{ posts.image_url }}
{% else %}{% static 'default.png' %}{% endif %})">
  </a>
  </div>
      <a href="{%url 'users:post-detail' posts.id%}">
    <div class="text-wrap">
      <h2>
          {{ posts.title }}
        </h2>
        <h3>
          {{posts.date_posted|date:"F"}} {{posts.date_posted|date:"d"}}, {{posts.date_posted|date:"Y"}}
        </h3>
        <h3>
          {{ posts.category }} {% if posts.hashtag.all %} | {{posts.hashtag.first}} {% endif %}
        </h3>
      </div>
    </a>
    </div>
      {% endfor %}