<!-- The following line is the Brightcove Player script. Replace it with your player. You can  -->
<!-- include the default player for your account by just changing the account number to use your own. -->
<!-- That way you don't even need to create a new Brightcove Player. -->
<script src="https://players.brightcove.net/1752604059001/default_default/index.min.js"></script>
<!-- These next two lines are the IMA3 plugin - the ad integration using Google's IMA3 HTML5 SDK. -->
<!-- You can get a little bit faster load time if you include these in the player config and build -->
<!-- them together as one unit using the Brightcove Player Management API. -->
<!-- If you do that then they will be part of the player index.min.js. -->
<link href="https://players.brightcove.net/videojs-ima3/3/videojs.ima3.min.css" rel="stylesheet"/>
<script src="https://players.brightcove.net/videojs-ima3/3/videojs.ima3.min.js"></script>
<!-- This is the ad-only player loader script. You can use it unmodified since it's hosted from -->
<!-- Brightcove's player origin and served over CDN. You can also use it as an example of how to -->
<!-- dynamically load the Brightcove Player and do your own thing. It can also be included in your -->
<!-- player config if you choose. -->
<script src="https://players.brightcove.net/3723496277001/files/adonly.js"></script>