<div id="adPlayerDiv"></div>
<script>
    // The following script injects an outstream (aka 'ad-only') player into the div defined above in the text called
// 'adPlayerDiv'. You can specify an ad tag here or use in-line VAST, as demonstrated below. Comment out the in-line
// adTag is your ad tag URL which defines the ads to play.
// For more information on how this works read the comments in the source code included here:
// http://players.brightcove.net/3723496277001/files/adonly.js

// If you don't want it to expand the div you can use the injectAdOnlyPlayer function instead.
bcPlayerTools.expandAndInjectAdOnlyPlayer({
	div: adPlayerDiv,
  adTag: "https://www.videosprofitnetwork.com/watch.xml?key=a67ee9392977552ebe645fed7e0ce897",
	height: 360,
	animationDuration: 250,
  autoplay: true
// autoplays muted by default - which is the only way it will work in some browsers
// un-comment these lines if you want to change the settings
//	muted: false
});
</script>